@model ADYS.Models.Course

@{
    ViewBag.Title = "Ders Güncelle";
}

<h2>Ders Güncelle</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.CourseId)

    <div class="form-group">
        @Html.LabelFor(m => m.CourseName)
        @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DayOfWeek)
        @Html.TextBoxFor(m => m.DayOfWeek, new { @class = "form-control", placeholder = "Örn: Pazartesi" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartTime)
        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", type = "time" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", type = "time" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AKTS)
        @Html.TextBoxFor(m => m.AKTS, new { @class = "form-control", type = "number", min = "1" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kontenjan)
        @Html.TextBoxFor(m => m.Kontenjan, new { @class = "form-control", type = "number", min = "1" })
    </div>

    <div class="form-group">
        @Html.Label("Danışman")
        @Html.DropDownList("AdvisorId", (SelectList)ViewBag.Advisors, "Seçiniz", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Bölüm")
        @Html.DropDownList("DepartmentId", (SelectList)ViewBag.Departments, "Seçiniz", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}
