@model List<ADYS.ViewModels.StudentDashboardViewModel>
@{
    ViewBag.Title = "Öğrenci Tanımlamaları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Öğrenci Tanımlamaları</h2>

<h4>Yeni Öğrenci Ekle</h4>
@using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-3">
            @Html.Label("Ad Soyad")
            @Html.TextBox("FullName", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Email")
            @Html.TextBox("Email", null, new { @class = "form-control", type = "email" })
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Şifre")
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Danışman")
            @Html.DropDownList("AdvisorId", (SelectList)ViewBag.Advisors, "Seçiniz", new { @class = "form-control" })
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
}


<hr />

<h4>Öğrenci Listesi</h4>
<table id="studentsDashboard" class="display">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Danışman</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentName </td>
                <td>@student.StudentEmail </td>
                <td>@(student.AdvisorName != null ? student.AdvisorName : "Danışman yok")</td>
                <td>
                    @Html.ActionLink("Sil", "DeleteStudent", "Admin", new { id = student.StudentId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#studentsDashboard').DataTable(); // tablonun id'si "myTable" olmalı
        });
    </script>
}
