@model List<ADYS.Models.User>

@{
    ViewBag.Title = "Danışman Tanımlamaları";
}



@*<p>
        @Html.ActionLink("Yeni Danışman Ekle", "CreateAdvisor", "Admin", null, new { @class = "btn btn-success" })
    </p>*@
<div class="col-12 mb-4">
    <div class="card glass-card">
        <div class="card-header text-white">
            <h4 class="m-0">Yeni Öğrenci Ekle</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("CreateAdvisor", "Admin", FormMethod.Post))
            {
                @*@Html.HiddenFor(m => m.AdvisorId)*@
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.Label("Ad Soyad")
                        @Html.TextBox("FullName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("Email")
                        @Html.TextBox("Email", null, new { @class = "form-control", type = "email" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("Şifre")
                        @Html.Password("Password", null, new { @class = "form-control" })
                    </div>
                    <div class="text-start mt-3">
                        <button type="submit" class="btn">Kaydet</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card glass-card">
        <div class="card-header text-white">
            <h2>Danışman Tanımlamaları</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="viewAdvisors" class="display custom-datatable">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Email</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var advisor in Model)
                        {
                            <tr>
                                <td>@advisor.UserName</td>
                                <td>@advisor.Email</td>
                                <td>
                                    @Html.ActionLink("Güncelle", "CreateAdvisor", "Admin", new { id = advisor.AdvisorId }, new { @class = "btn btn-warning btn-sm" })
                                    @Html.ActionLink("Sil", "DeleteAdvisor", "Admin", new { id = advisor.AdvisorId }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istediğinize emin misiniz?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#viewAdvisors').DataTable({
                paging: true,
                searching: true,
                ordering: true,
            });
        });
    </script>
}
